@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


html {
    /* font-size: 62.25%; */
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: aliceblue;
}



.container_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header_img {
    width: 102%;

    filter: drop-shadow('10');
}

h1 {
    margin: 20px 0;
}


.article_title {
    border: 2px solid black;
    margin: 2rem 0;
    padding: 5px;
    border-radius: 10px;

    width: 40%;
}

.article_title>* {
    padding: 5px;
}

.article_title img {
    display: block;
    margin: auto;
    width: 70%;
    max-height: 40%;

    border-radius: 4px;
}

.date_text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.buttons button {
    margin: 1rem;
}

@media only screen and (max-width: 700px) {
    .article_title {
        width: 70%;
    }

    body {
        font-size: medium;
    }
}

/* For My Profile Page */
.container_1 {
    width: 100%;
    height: 86%;
    justify-content: flex-start;
}

.profile_title {
    border-bottom: 5px solid coral;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
}

.user_profile {
    display: block;
    width: 100%;
    transition: all 0.1s ease-in-out;
    border-bottom: 5px solid transparent;
}


.blogs {
    display: none;
    transition: all 0.1s ease-in-out;
    border-bottom: 5px solid transparent;
}

.title_block {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: first baseline;
    justify-content: space-around;
    cursor: pointer;
}

.title_block h2 {
    padding: 1rem .5rem;
}

.user_view {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    ;
}

.user_profile {
    width: 80%;
}

form>div {
    padding: 1rem;
}

.blogs_2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btns {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.btns>* {
    margin: 0 1rem;
}